@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	background-color: $green;
	padding-top: 40px;
}

.header__top {
	height: 24px;
	margin-bottom: 56px;
}

.header__menu-list {
	@include flex(center);
	gap: 40px;

	.menu-list__item {
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: $white-main;
		padding-bottom: 8px;
		border-bottom: 2px dashed transparent;
		transition: all 0.3s ease-in-out;

		&:hover {
			border-bottom: 2px dashed $orange;
		}
	}
}

.header__inner {
	display: flex;
}

.header__inner-left {
	margin-bottom: 120px;
}

.inner-left__socials {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 134px;

	svg path {
		transition: all 0.3s ease-in-out;
	}

	svg:hover path {
		fill: $orange;
	}
}

.inner-left__img {
	// max-width: 240px;
	// max-height: 300px;
	border-radius: 0 80px 0 0;
	position: relative;
	z-index: 2;

	img {
		max-width: 240px;
		max-height: 300px;
		border-radius: 0 80px 0 0;
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		width: 240px;
		height: 300px;
		position: absolute;
		top: -30px;
		right: -30px;
		background-color: transparent;
		border-radius: 0 80px 0 0;
		background-image: url(../images/dash-line-1.svg);
		z-index: 1;
	}
}

.header__inner-center {
	text-align: center;
	margin-top: 89px;
}

.header__inner-logo {
	display: inline-block;
	margin-bottom: 40px;
}

.header__inner-title {
	font-weight: 500;
	font-size: 58px;
	line-height: 120%;
	color: $white-main;
	margin-bottom: 20px;
}

.header__inner-text {
	max-width: 378px;
	line-height: 150%;
	color: $white-main;
	margin: 0 auto 50px;
}

.cta-btn {
	width: 230px;
	height: 56px;
	padding: 20px 47px;
	font-weight: 500;
	font-size: 16px;
	line-height: 100%;
	color: $white-main;
	border-radius: 0px 20px;
	cursor: pointer;

	&.--orange {
		background-color: $orange;
	}

	&.--green {
		background-color: $green;
		padding: 20px 38px;
	}
}

.inner-right__img {
	// max-width: 240px;
	// max-height: 300px;
	margin-bottom: 20px;
	border-radius: 80px 0 0 0;
	position: relative;
	z-index: 2;
	
	img {
		max-width: 240px;
		max-height: 300px;
		border-radius: 80px 0 0 0;
		position: relative;
		z-index: 2;
	}
	
	&::before {
		content: '';
		width: 240px;
		height: 300px;
		position: absolute;
		top: -30px;
		left: -30px;
		background-color: transparent;
		border-radius: 80px 0 0 0;
		background-image: url(../images/dash-line-2.svg);
		z-index: 1;
	}
}

.inner-right__scroll {
	display: flex;
	gap: 15px;
	margin-right: -225px;
	transform: rotate(-90deg);

	img {
		transform: rotate(90deg);
	}
}

.inner-right__text {
	font-size: 14px;
	line-height: 100%;
	color: $white-main;
}

.about {
	padding-top: 120px;
	background-color: $white-main;

	&__content {
		display: flex;
		gap: 109px;
		margin-bottom: 120px;
	}

	&__top-items {
		@include flex(space-between);
		margin-bottom: 120px;
	}

	&__top-item {
		text-align: center;
	}
}

.top-item__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 100%;	
	color: $green;
	font-feature-settings: 'pnum' on, 'lnum' on;
	margin-bottom: 15px;
}

.top-item__text {
	max-width: 230px;
	font-size: 14px;
	line-height: 120%;
}

.content-info__title {
	font-weight: 500;
	font-size: 58px;
	line-height: 100%;	
	font-feature-settings: 'pnum' on, 'lnum' on;
	margin: 65px 0 20px;
}

.content-info__text {
	max-width: 500px;
	font-size: 16px;
	line-height: 150%;
	margin-bottom: 15px;
}

.content-info__text.br {
	margin-bottom: 50px;
}

.about__content-grid {
	display: grid;
	grid-template: repeat(2, 1fr)/repeat(3, 1fr);
	gap: 30px;
}

.grid__item {
	max-width: 170px;
	max-height: 221.5px;
	text-align: center;

	&-img {
		max-width: 170px;
		max-height: 170px;
		margin-bottom: 15px;
		border-radius: 80px 0px;		
	}

	&:first-child {
		img {
			border-radius: 0px 0px 0px 80px;
		}
	}

	&:nth-child(3) {
		img {
			border-radius: 0px 0px 80px 0px;
		}
	}

	&:nth-child(4) {
		img {
			border-radius: 80px 0px 0px 0px;
		}
	}

	&:last-child {
		img {
			border-radius: 0px 80px 0px 0px;
		}
	}

	&-text {
		font-size: 14px;
		line-height: 130%;
	}
}

.format {
	margin-bottom: 120px;
	background-color: $green;

	&__content {
		display: flex;
		gap: 100px;
		padding-top: 120px;
	}
}

.format__img {
	margin-top: 30px;
	position: relative;
	// border-radius: 0px 120px 0px 0px;
	// z-index: 2;

	img {
		max-width: 470px;
		max-height: 332px;
		border-radius: 0px 120px 0px 0px;
		position: relative;
		z-index: 2;
	}

	&::before {
		content: '';
		width: 470px;
		height: 332px;
		position: absolute;
		top: -30px;
		right: -30px;
		background-color: transparent;
		border-radius: 0 120px 0 0;
		background-image: url(../images/format-dash-line.svg);
		z-index: 1;
	}
}

.content-info.format {
	.content-info__title {
		line-height: 120%;
		color: $white-main;
		margin-top: 0;
	}

	.content-info__text {
		margin-bottom: 50px;
		color: $white-main;
	}
}

.courses {
	margin-bottom: 120px;
	background-color: $white-main;

	&__content {
		@include flex(space-between);
		margin-bottom: 60px;
	}

	&__title {
		font-weight: 500;
		font-size: 58px;
		line-height: 100%;
		text-align: center;
		font-feature-settings: 'pnum' on, 'lnum' on;
		margin-bottom: 60px;
	}

	.cta-btn {
		display: block;
		margin: 0 auto ;
	}
}

.courses__content-item {
	padding: 20px;
	background-color: $white-main;
	box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
	border-radius: 10px;

	img {
		margin-bottom: 15px;
	}
}

.content-item__text {
	font-weight: 500;
	line-height: 100%;	
	font-feature-settings: 'pnum' on, 'lnum' on;
	cursor: pointer;
}

.banner {
	// height: 578px;
	margin-bottom: 120px;
	background-color: $white-main;
	background-image: url(../images/banner-bg.png);

	&__content {
		@include flex(flex-end);
		padding-top: 120px;
		padding-bottom: 120px;

		.content-info {
			max-width: 508px;

			&__title {
				line-height: 120%;
				margin-top: 0;
			}

			&__text {
				max-width: 508px;
			}
		}
	}
}

.footer {
	background-color: $white-main;
	border-top: 1px solid rgba(53, 58, 90, 0.1);

	&__contacts {
		@include flex(space-between);
		align-items: start;
		padding-top: 80px;
		margin-bottom: 50px;
	}
}

.contacts-social__text {
	max-width: 255px;
	font-size: 14px;
	line-height: 130%;
	margin: 27px 0 47px;
}

.contacts-social__icons {
	display: flex;
	gap: 25px;
}

.contacts-list__item {
	line-height: 100%;
	margin-bottom: 20px;
}

.contacts-email__text {
	font-weight: 500;
	line-height: 100%;
}

:is(.contacts-list__item, .contacts-email__text):first-child {
	margin-bottom: 30px;
}

.contacts-email__link {
	line-height: 130%;
	text-decoration: underline;
}

.footer__wrapper {
	border-top: 1px solid rgba(53, 58, 90, 0.1);
}

.footer__copy {
	height: 74px;
	@include flex(space-between);

	&__left {
		font-size: 14px;
		line-height: 100%;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}

	&-text {
		display: inline-block;
		font-size: 14px;
		line-height: 100%;		
		font-feature-settings: 'pnum' on, 'lnum' on;
	}

	&-text + &-text {
		margin-left: 30px;
	}
}